name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  checks:
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            system: x86_64-linux
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v31
        with:
          extraPullNames: nix-community
          extra_nix_config: |
            access-tokens = github.com=${{ github.token }}
            system-features = nixos-test benchmark big-parallel kvm
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
            substituters = https://cache.nixos.org/

      - uses: cachix/cachix-action@v15
        with:
          name: nvix
          extraPullNames: nix-community
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build flake outputs
        run: |
          nix build --accept-flake-config .#bare .#core --no-link --print-out-paths | cachix push nvix
